/*测试属性*/
#top_main,#nav,#banner,#main,#foot_box,#footer{
	border: 1px solid #000;
}
/*页面通用样式*/
body{
	/**/
	font: 12px "微软雅黑",arial,helvetica,sans-serif;
	color: #666;
	margin: 0;
}
p,h1,h2,h3,h5,h6,ul,ol,dl,dd{
	margin: 0;
	padding: 0;
	list-style: none;
}
.lf{float: left;}
.rt{float: right;}
.clear{clear: both;}
a{
	color: #666;
	text-decoration: none;
}
a:hover{
	color: #ff0700;
	text-decoration: underline;
}
/*布局标记样式*/
#top_box,#top_main,#nav,#banner,#main,#foot_box,#footer{
	width: 1211px;
	margin: 0 auto;
}
/*#top 灰色长条*/
#top{
	/*宽度 高度 背景颜色*/
	width: 100%;
	height: 30px;
	background-color: #f7f7f7;
	line-height: 30px;
}
#top_box img{
	/*上外边距 右外边距*/
	margin-top: 9px;
	margin-right: 5px ;
}
#top_box>ul>li{
	/*右浮动*/
	float: left;
	margin-right: 5px;
}
/*列表当中的b标记，模拟分割线*/
#top_box>ul>li>b{
	border-left: 1px solid #ddd;
	margin-right: 5px;
}
/*会员俱乐部背景图像处理*/
li.vip a{
	/*左内边距：24+5 背景属性*/
	padding-left: 29px;
	background:url(Images/vip.jpg) no-repeat left center;
}
/*大客户背景图像处理*/
li.bjd a{
	/*左内边距：24+5 背景属性*/
	padding-left: 26px;
	background:url(Images/dakehu.jpg) no-repeat left center;
}
/*手机京东背景图像处理*/
li.app_jd a{
	/*左内边距 行内块 高度 行高 背景属性*/
	padding-left: 18px;
	display: inline-block;
	height: 22px;
	line-height: 22px;
	background: url(Images/iconlist_2.png) no-repeat -128px -360px;
}
li.app_jd a:hover{
	background-position: -128px -399px;
}
/*客户服务*/
li.services>a{
	/*左右内边距模拟元素宽度*/
	padding: 0 15px;
	/*行内块 高度（26-27） 行高*/
	display: inline-block;
	height: 26px;
	line-height: 26px;
	/*边框：左右上边框（透明）*/
	border: 1px solid transparent;
	border-bottom: 0;
	/*背景*/
	background: url(Images/jt_down.jpg) no-repeat 95% center;
}
li.services>a:hover{
	/*边框颜色 背景颜色为白色 更换背景图*/
	border-color: #ddd;
	background-color: #fff;
	background-image: url(Images/jt_up.jpg);
	
}
/*父元素做相对定位配合#services_items做绝对定位*/
li.services{
	position: relative;
}
/*客户服务弹出菜单*/
#services_items{
	/*窗口尺寸 左右下边框 背景颜色 居中对齐*/
	width: 80px;
	border: 1px solid #ddd;
	border-top: 0;
	box-sizing: border-box;
	background-color: #fff;
	text-align: center;
	/*绝对定位*/
	position: absolute;
	top: 27px;
	left: 6px;
	/*默认为影藏*/
	display: none;
}
li.services:hover #services_items{
	display: block;
	
}
